{% extends "base.html" %}{% comment %}<!-- -*- mode: django-html; tab-width: 4 -*- -->{% endcomment %}

{% load eb mapping %}

{% comment %}
Base template for all "place" pages -- either block or location.
Implements only the "top" of the page -- the title and "Nearby" list.

Required variables: nearby_locations, place, is_block
{% endcomment %}

<!-- begin block content -->
{% block content %}
<div id="nav-location">
	<h2 id="bid_link"></h2>
	<!-- begin block map -->
	{% block map %}
	<div id="mapwrapper">
		<script type="text/javascript">
		{% autoescape off %}
function chartSwitch(){
	var selected = $("#biztype").val();
	if(selected == "all"){
		loadNeighborData(window.location + "");
	}
	else{
		var csv = getCSV(neighbor, selected);
		var datachart = "https://chart.googleapis.com/chart?cht=lc&chco=FF0000,0000FF&chs=480x400&chxt=x,y,r,y,r&chdlp=b&chdl=Employees|Establishments&chxl=4:|||Employees|||3:|||Establishments|||0:|1998|2001|2004|2007|2010";

		var peoplemax = 0
		for(var p=0;p<csv.people.length;p++){
			peoplemax = Math.max(peoplemax, csv.people[p]);
		}
		for(var p=0;p<csv.people.length;p++){
			csv.people[p] = Math.round(csv.people[p] / peoplemax * 133 - 33);
		}
		var placemax = 0
		for(var p=0;p<csv.places.length;p++){
			placemax = Math.max(placemax, csv.places[p]);
		}
		for(var p=0;p<csv.places.length;p++){
			csv.places[p] = Math.round(csv.places[p] / placemax * 133 - 33);
		}
		datachart += "|1:||" + Math.round(placemax / 3 + placemax * 2 / 15) + "||" + Math.round(placemax / 3 + placemax * 2 / 5) + "||" + placemax + "|2:|||" + Math.round(peoplemax / 3 + peoplemax * 2 / 15) + "|||" +  Math.round(peoplemax / 3 + peoplemax * 2 / 5) + "|||" + peoplemax + "&chd=t:" + csv.people.join(",") + "|" + csv.places.join(",");


		$(".business-chart").html('<img src="' + datachart + '"/><br/><small>Data from <a href="http://www.census.gov/econ/cbp/index.html">Census ZIP Code Business Patterns</a><br/>Photos from users of Instagram, Flickr, and Panoramio</small>');

	}
}
function getCSV(zipcodes, category){
	var totalEmployees = [0,0,0,0,0,0,0,0,0,0,0,0,0];
	var totalEstablishments = [0,0,0,0,0,0,0,0,0,0,0,0,0];
	for(var z=0;z<zipcodes.length;z++){
		var zip = zipcodes[z];
		var addEmployees = [ ];
		var addEstablishments = [ ];
		if(zip == 94601){
			addEmployees = [9472,9519,9177,9018,9162,9305,8841,8428,9176,9912,10028,9130,8395];
			if(category == "all"){
				addEstablishments = [652,637,638,660,706,706,695,692,698,703,703,679,680];
			}
			else if(category == 72){
				// Accomodation / food
				addEstablishments = [59,56,58,58,71,72,73,73,77,77,80,77,80];
			}
			else if(category == 71){
				// Arts, entertainment, recreation
				addEstablishments = [4,4,5,5,3,3,3,2,4,7,6,6,7];
			}
			else if(category == 54){
				// Professional, scientific, and technical services
				addEstablishments = [9,9,11,14,15,17,17,19,19,22,23,24,25];
			}
			else if(category == 62){
				// Health care and social assistance
				addEstablishments = [85,89,88,86,94,96,96,93,81,80,71,72,72];
			}
			else if(category == 52){
				// Finance & insurance
				addEstablishments = [15,17,17,21,16,15,17,19,21,23,26,26,26];
			}
			else if(category == 44){
				// Retail trade
				addEstablishments = [130,119,123,128,132,137,137,136,142,141,140,137,137];
			}
		}
		if(zip == 94607){
			addEmployees = [17264,17277,19520,20050,22102,21611,22220,21911,22187,22255,22861,21195,20602];
			if(category == "all"){
				addEstablishments = [1156,1186,1238,1252,1341,1327,1314,1374,1372,1343,1349,1312,1328];
			}
			else if(category == 72){
				// Accomodation / food
				addEstablishments = [132,131,132,130,136,142,157,163,166,155,161,158,166];
			}
			else if(category == 71){
				// Arts, entertainment, recreation
				addEstablishments = [9,7,6,7,10,11,12,13,15,16,15,16,16];
			}
			else if(category == 54){
				// Professional, scientific, and technical services
				addEstablishments = [132,145,156,162,182,174,187,193,199,216,212,214,221];
			}
			else if(category == 62){
				// Health care and social assistance
				addEstablishments = [78,80,93,89,99,95,98,105,100,93,90,88,94];
			}
			else if(category == 52){
				// Finance & insurance
				addEstablishments = [56,66,68,73,81,82,79,85,77,69,82,79,67];
			}
			else if(category == 44){
				// Retail trade
				addEstablishments = [132,134,144,160,158,162,151,162,160,159,150,148,146];
			}
		}

		if(zip == 94609){
			addEmployees = [9553,9452,9966,9954,10457,10091,10294,10130,10116,10724,11649,11692,11399];
			if(category == "all"){
				addEstablishments = [663,653,680,668,687,685,665,649,665,657,649,633,634];
			}
			else if(category == 72){
				// Accomodation / food
				addEstablishments = [36,42,44,44,42,53,50,50,51,55,60,57,61];
			}
			else if(category == 71){
				// Arts, entertainment, recreation
				addEstablishments = [6,8,6,7,8,6,6,5,5,4,3,4,3];
			}
			else if(category == 54){
				// Professional, scientific, and technical services
				addEstablishments = [43,43,52,53,54,50,49,44,44,52,44,50,44];
			}
			else if(category == 62){
				// Health care and social assistance
				addEstablishments = [329,313,320,307,308,307,300,304,297,289,284,273,271];
			}
			else if(category == 52){
				// Finance & insurance
				addEstablishments = [14,14,14,13,12,14,13,11,13,9,7,7,8];
			}
			else if(category == 44){
				// Retail trade
				addEstablishments = [64,68,70,74,71,67,64,64,60,60,65,59,66];
			}
		}

		if(zip == 94610){
			addEmployees = [6325,6869,5962,5978,5662,5436,5077,4573,4642,4507,4475,4538,4720];
			if(category == "all"){
				addEstablishments = [615,611,608,622,633,608,647,630,681,657,649,642,637];
			}
			else if(category == 72){
				// Accomodation / food
				addEstablishments = [58,54,54,57,53,51,54,49,52,48,60,63,61];
			}
			else if(category == 71){
				// Arts, entertainment, recreation
				addEstablishments = [7,8,10,7,10,10,9,10,12,9,8,9,9];
			}
			else if(category == 54){
				// Professional, scientific, and technical services
				addEstablishments = [114,123,119,135,138,129,133,135,155,147,136,142,132];
			}
			else if(category == 62){
				// Health care and social assistance
				addEstablishments = [78,80,75,74,77,79,89,81,85,79,82,82,91];
			}
			else if(category == 52){
				// Finance & insurance
				addEstablishments = [39,40,34,35,35,32,36,31,44,39,38,36,33];
			}
			else if(category == 44){
				// Retail trade
				addEstablishments = [53,55,62,65,61,58,61,57,58,64,61,53,52];
			}
		}

		if(zip == 94611){
			addEmployees = [9855,9532,10599,10893,10950,10535,10456,11519,11011,10909,11264,11024,10645];
			if(category == "all"){
				addEstablishments = [923,942,965,980,917,905,908,911,891,890,876,872];
			}
			else if(category == 72){
				// Accomodation / food
				addEstablishments = [71,75,73,70,67,67,67,66,71,75,78,79,80];
			}
			else if(category == 71){
				// Arts, entertainment, recreation
				addEstablishments = [19,20,20,19,20,19,17,22,22,21,19,15,21];
			}
			else if(category == 54){
				// Professional, scientific, and technical services
				addEstablishments = [146,152,155,170,168,163,168,170,167,149,157,149,160];
			}
			else if(category == 62){
				// Health care and social assistance
				addEstablishments = [104,100,108,107,108,101,107,113,111,112,122,123,124];
			}
			else if(category == 52){
				// Finance & insurance
				addEstablishments = [56,57,58,65,72,69,65,66,63,60,61,60,58];
			}
			else if(category == 44){
				// Retail trade
				addEstablishments = [150,146,153,151,145,139,139,140,133,129,124,120,122];
			}
		}

		if(zip == 94612){
			addEmployees = [31072,30472,32934,33700,36831,36866,37452,34994,36530,35270,36750,34450,33731];
			if(category == "all"){
				addEstablishments = [1731,1760,1791,1821,1879,1828,1847,1800,1805,1713,1686,1707,1700];
			}
			else if(category == 72){
				// Accomodation / food
				addEstablishments = [106,110,119,117,118,117,117,120,123,128,124,143,145];
			}
			else if(category == 71){
				// Arts, entertainment, recreation
				addEstablishments = [26,24,23,27,25,26,26,24,25,25,22,21,21];
			}
			else if(category == 54){
				// Professional, scientific, and technical services
				addEstablishments = [498,511,509,494,527,528,525,533,543,543,515,517,536];
			}
			else if(category == 62){
				// Health care and social assistance
				addEstablishments = [149,150,152,164,165,167,174,169,170,181,182,190,190];
			}
			else if(category == 52){
				// Finance & insurance
				addEstablishments = [160,159,184,215,234,204,204,198,210,150,137,136,125];
			}
			else if(category == 44){
				// Retail trade
				addEstablishments = [104,106,110,106,100,96,97,94,87,86,88,84,85];
			}
		}
		if(zip == 94618){
			addEmployees = [3947,3947,4569,4642,4639,4734,4683,4658,4898,4613,4932,4881,4646];
			if(category == "all"){
				addEstablishments = [421,422,425,420,445,442,439,446,449,443,438,443,441];
			}
			else if(category == 72){
				// Accomodation / food
				addEstablishments = [39,41,41,44,50,46,49,48,48,46,43,41,48];
			}
			else if(category == 71){
				// Arts, entertainment, recreation
				addEstablishments = [12,11,8,6,9,8,6,6,7,7,9,9,9];
			}
			else if(category == 54){
				// Professional, scientific, and technical services
				addEstablishments = [64,63,69,79,70,69,69,78,92,95,90,92,93];
			}
			else if(category == 62){
				// Health care and social assistance
				addEstablishments = [64,59,56,56,69,65,67,75,70,70,68,75,76];
			}
			else if(category == 52){
				// Finance & insurance
				addEstablishments = [16,13,15,15,17,21,22,21,19,24,24,20,18];
			}
			else if(category == 44){
				// Retail trade
				addEstablishments = [63,72,72,62,67,72,72,69,67,70,70,68,66];
			}
		}

		if(zip == 94619){
			addEmployees = [2400,2504,2219,2412,2133,2223,2366,2355,2344,2527,2610,2567,2661];
			if(category == "all"){
				addEstablishments = [275,272,274,292,290,274,284,289,300,297,294,287,278];
			}
			else if(category == 72){
				// Accomodation / food
				addEstablishments = [23,26,25,29,32,28,30,35,30,27,29,33,31];
			}
			else if(category == 71){
				// Arts, entertainment, recreation
				addEstablishments = [4,4,4,6,5,6,7,6,6,7,6,4,7];
			}
			else if(category == 54){
				// Professional, scientific, and technical services
				addEstablishments = [26,27,28,29,34,32,37,33,34,37,43,41,39];
			}
			else if(category == 62){
				// Health care and social assistance
				addEstablishments = [35,37,37,37,38,37,36,35,40,44,43,42,42];
			}
			else if(category == 52){
				// Finance & insurance
				addEstablishments = [9,8,9,11,11,11,9,14,19,18,15,13,11];
			}
			else if(category == 44){
				// Retail trade
				addEstablishments = [40,39,34,41,40,39,40,40,43,38,32,35,35];
			}
		}

		for(var e=0;e<addEmployees.length;e++){
			totalEmployees[e] += addEmployees[e];
		}
		for(var e=0;e<addEstablishments.length;e++){
			totalEstablishments[e] += addEstablishments[e];
		}
	}
	return { people: totalEmployees, places: totalEstablishments };
}
var neighbor;
function loadNeighborData(url){
	var datachart = "https://chart.googleapis.com/chart?cht=lc&chco=FF0000,0000FF&chs=480x400&chxt=x,y,r,y,r&chdlp=b&chdl=Employees|Establishments&chxl=4:|||Employees|||3:|||Establishments|||0:|1998|2001|2004|2007|2010";
	var csv;
	if(url.indexOf("downtown") > -1){
		$("#bid_link").html("Learn more: <a href='http://downtownoakland.org/'>Downtown Oakland</a>");
		// 94607 + 94612
		neighbor = [94607, 94612];
		csv = getCSV(neighbor, "all");
	}
	if(url.indexOf("fruitvale") > -1){
		$("#bid_link").html("Learn more: <a href='http://www.unitycouncil.org/business-assistance/'>Fruitvale</a>");
		neighbor = [94601];
		csv = getCSV(neighbor, "all");
		// 94601
	}
	if(url.indexOf("koreatown") > -1){
		$("#bid_link").html("Learn more: <a href='http://koreatownnorthgate.org/'>Koreatown / Northgate</a>");
		neighbor = [94609, 94612];
		csv = getCSV(neighbor, "all");
		// 94609 + 94612
	}
	if(url.indexOf("laurel") > -1){
		$("#bid_link").html("Learn more: <a href='http://www.laureldistrictassociation.org/'>Laurel</a>");
		neighbor = [94619];
		csv = getCSV(neighbor, "all");
		// 94619
	}
	if(url.indexOf("lakeshore") > -1){
		$("#bid_link").html("Learn more: <a href='http://www.lakeshoreoakland.com/home/'>Lakeshore Ave</a>");
		neighbor = [94610];
		csv = getCSV(neighbor, "all");
		// 94610
	}
	if(url.indexOf("montclair") > -1){
		$("#bid_link").html("Learn more: <a href='http://montclairvillage.com/'>Montclair Village</a>");
		neighbor = [94611];
		csv = getCSV(neighbor, "all");
		// 94611
	}
	if(url.indexOf("rockridge") > -1){
		$("#bid_link").html("Learn more: <a href='http://www.rockridgedistrict.com/index.html'>Rockridge</a>");
		neighbor = [94618];
		csv = getCSV(neighbor, "all");
		// 94618
	}
	if(url.indexOf("temescal") > -1){
		$("#bid_link").html("Learn more: <a href='http://temescaldistrict.org/home'>Temescal / Telegraph</a>");
		neighbor = [94609];
		csv = getCSV(neighbor, "all");
		// 94609
	}
	if(url.indexOf("merritt") > -1){
		$("#bid_link").html("Learn more: <a href='http://www.lakemerritt-uptown.org/'>Lake Merritt / Uptown</a>");
		neighbor = [94612];
		csv = getCSV(neighbor, "all");
		// 94612
	}
	
	var peoplemax = 0
	for(var p=0;p<csv.people.length;p++){
		peoplemax = Math.max(peoplemax, csv.people[p]);
	}
	for(var p=0;p<csv.people.length;p++){
		csv.people[p] = Math.round(csv.people[p] / peoplemax * 133 - 33);
	}
	var placemax = 0
	for(var p=0;p<csv.places.length;p++){
		placemax = Math.max(placemax, csv.places[p]);
	}
	for(var p=0;p<csv.places.length;p++){
		csv.places[p] = Math.round(csv.places[p] / placemax * 133 - 33);
	}
	datachart += "|1:||" + Math.round(placemax / 3 + placemax * 2 / 15) + "||" + Math.round(placemax / 3 + placemax * 2 / 5) + "||" + placemax + "|2:|||" + Math.round(peoplemax / 3 + peoplemax * 2 / 15) + "|||" +  Math.round(peoplemax / 3 + peoplemax * 2 / 5) + "|||" + peoplemax + "&chd=t:" + csv.people.join(",") + "|" + csv.places.join(",");

	$(".business-chart").html('<img src="' + datachart + '"/><br/><small>Data from <a href="http://www.census.gov/econ/cbp/index.html">Census ZIP Code Business Patterns</a></small>');
}
function loadMap() {
	loadNeighborData(window.location + "");

	$j("#place-detail-content").html($j("#place-detail-content").html() + "<h2>Photos</h2>" );

	incidentPointSymbol = new esri.symbol.PictureMarkerSymbol({
  		"url":"http://i.imgur.com/vlLh1.png",
  		"height":24,
  		"width":20,
		"yoffset":10,
  		"type":"esriPMS"
 	});

	var config = {{map_configuration}};
	dojo.forEach(config.locations, function(geojsonurl){
	        esri.request({
	                url:geojsonurl.url,
	                handleAs:"json",
	                load:function(d){
				if(d.properties.description.length > 2 && d.properties.description.indexOf(" ") == -1){
					document.getElementById("detailmap").innerHTML = "";

	        			var mapDeferred = esri.arcgis.utils.createMap(d.properties.description, "detailmap", {
	          				mapOptions: {
	            					slider: true,
	            					nav:false
	          				}
	        			});
	        			mapDeferred.addCallback(function(response) {
						map = response.map;
						mapNow(d);
					});
				}
				else{
					mapNow(d);
				}
	                }
        	});
	});
}


function mapNow(d){
	polygonbounds = [ ];
	var polygon = new esri.geometry.Polygon(new esri.SpatialReference({ wkid: 4326 }));
	var viewExtent;
	if(d.geometry.type == "MultiPolygon"){
		for(var r=0;r<d.geometry.coordinates[0].length;r++){
			polygon.addRing( d.geometry.coordinates[0][r] );
		}
		viewExtent = polygon.getExtent();

		for(var p=1;p<d.geometry.coordinates.length;p++){
			var polygon2 = new esri.geometry.Polygon(new esri.SpatialReference({ wkid: 4326 }));
			for(var r=0;r<d.geometry.coordinates[p].length;r++){
				polygon2.addRing( d.geometry.coordinates[p][r] );
			}
			viewExtent = viewExtent.union(polygon2.getExtent());
			polygonbounds.push(polygon2);

			polygon2 = esri.geometry.geographicToWebMercator( polygon2 );
			var loc2 = new esri.Graphic( polygon2,  new esri.symbol.SimpleFillSymbol(esri.symbol.SimpleFillSymbol.STYLE_SOLID,
				new esri.symbol.SimpleLineSymbol(esri.symbol.SimpleLineSymbol.STYLE_SOLID,
				new dojo.Color([255,0,150]), 2),new dojo.Color([255,255,0,0])) );
                	map.graphics.add(loc2);
		}
	}
	else{
		for(var r=0;r<d.geometry.coordinates.length;r++){
			polygon.addRing( d.geometry.coordinates[r] );
		}
		viewExtent = polygon.getExtent();
	}
	polygonbounds.push(polygon);
	pushFlickr(viewExtent);
	pushPanoramio(viewExtent);
	pushInstagram(viewExtent);
	polygon = esri.geometry.geographicToWebMercator( polygon );
	var loc = new esri.Graphic( polygon,  new esri.symbol.SimpleFillSymbol(esri.symbol.SimpleFillSymbol.STYLE_SOLID,
	 	new esri.symbol.SimpleLineSymbol(esri.symbol.SimpleLineSymbol.STYLE_SOLID,
		 new dojo.Color([255,0,150]), 2),new dojo.Color([255,255,0,0])) );
        map.graphics.add(loc);
	map.setExtent( esri.geometry.geographicToWebMercator( viewExtent ), true );
}

var polygonbounds = [ ];
var incidentPointSymbol;
var allPhotos = { };

function pushPanoramio(bounds){
	var s = document.createElement('script');
	s.src = "http://www.panoramio.com/map/get_panoramas.php?set=public&from=0&to=10&minx=" + bounds.xmin + "&miny=" + bounds.ymin + "&maxx=" + bounds.xmax + "&maxy=" + bounds.ymax + "&size=thumbnail&mapfilter=true&from=0&to=50&callback=viewPhotos";
	s.type = "text/javascript";
	document.body.appendChild(s);
}
function viewPhotos(pan){
	pan.photos.sort(
		function(a,b){
			return (new Date(b.upload_date)) - (new Date(a.upload_date));
		}
	);
	var printedMonth = "1 January 2000";
	for(var p=0;p<pan.photos.length;p++){
		var photoPoint = new esri.geometry.Point( pan.photos[p].longitude, pan.photos[p].latitude );
		var hasPhoto = false;
		for(var g=0;g<polygonbounds.length;g++){
			if(polygonbounds[g].contains(photoPoint)){
				hasPhoto = true;
				break;
			}
		}
		if(hasPhoto){
			var monthMatch = ["January","February","March","April","May","June","July","August","September","October","November","December"];
			var instantDate = new Date(pan.photos[p].upload_date);
			if(printedMonth.indexOf(instantDate.getFullYear()) < -1){
				printedMonth = monthMatch[ instantDate.getMonth() ] + " " + instantDate.getFullYear();
				//$j("#place-detail-content").html($j("#place-detail-content").html() + "<h4>" + printedMonth + "</h4>");
			}
			else if(printedMonth.indexOf(monthMatch[instantDate.getMonth()])){
				printedMonth = monthMatch[ instantDate.getMonth() ] + " " + instantDate.getFullYear();
				//$j("#place-detail-content").html($j("#place-detail-content").html() + "<h4>" + printedMonth + "</h4>");
			}
			//$j("#place-detail-content").html($j("#place-detail-content").html() + "<img src='" + pan.photos[p].photo_file_url + "' width='120'/>" );

			var addPhoto = "<a href='" + pan.photos[p].photo_url + "'><img src='" + pan.photos[p].photo_file_url + "' width='120'/></a>";
			if(allPhotos[printedMonth]){
				allPhotos[printedMonth].push(addPhoto);
			}
			else{
				allPhotos[printedMonth] = [ addPhoto ];
			}
			map.graphics.add(new esri.Graphic(new esri.geometry.geographicToWebMercator(new esri.geometry.Point( pan.photos[p].longitude, pan.photos[p].latitude )), incidentPointSymbol));
		}
	}
	if(pan.photos.length){
		postAllPhotos();
	}
}
function pushFlickr(bounds){
	var s = document.createElement('script');
	s.src = "http://api.flickr.com/services/rest/?bbox=" + bounds.xmin + "," + bounds.ymin + "," + bounds.xmax + "," + bounds.ymax + "&extras=geo,owner_name,date_taken&per_page=60&tags=&method=flickr.photos.search&api_key=8f28e831de92bb79fcb9ec299227020a&has_geo=1&page=1&format=json&jsoncallback=loadFlickr&min_taken_date=2011-1-1";
	s.type = "text/javascript";
	document.body.appendChild(s);
}
function loadFlickr(response){
	var photos = response.photos.photo;
	var banids = ["37665378@N00","22526649@N03"];
	photos.sort(function(a,b){
		return (new Date(b.datetaken)) - (new Date(a.datetaken));
	});
	var printedMonth = "1 January 2000";
	for(var p=0; p<photos.length; p++){
		if(banids.indexOf(photos[p].owner) > -1){
			continue;
		}
		var flickrUrl = "http://farm"+photos[p].farm+".static.flickr.com/"+photos[p].server+"/"+photos[p].id+"_"+photos[p].secret+"_m.jpg";
		photoPoint = new esri.geometry.Point( photos[p].longitude, photos[p].latitude );
		var hasPhoto = false;
		var instantDate = new Date(photos[p].datetaken);
		//if(instantDate.getFullYear() >= 2012){
		//	hasPhoto = true;
		//}
		//else{
			for(var g=0;g<polygonbounds.length;g++){
				if(polygonbounds[g].contains(photoPoint)){
					hasPhoto = true;
					break;
				}
			}	
		//}
		if(hasPhoto){
			var monthMatch = ["January","February","March","April","May","June","July","August","September","October","November","December"];
			if(printedMonth.indexOf(instantDate.getFullYear()) < -1){
				printedMonth = monthMatch[ instantDate.getMonth() ] + " " + instantDate.getFullYear();
				//$j("#place-detail-content").html($j("#place-detail-content").html() + "<h4>" + printedMonth + "</h4>");
			}
			else if(printedMonth.indexOf(monthMatch[instantDate.getMonth()])){
				printedMonth = monthMatch[ instantDate.getMonth() ] + " " + instantDate.getFullYear();
				//$j("#place-detail-content").html($j("#place-detail-content").html() + "<h4>" + printedMonth + "</h4>");
			}
			//console.log(photoPoint);
			//$j("#place-detail-content").html($j("#place-detail-content").html() + "<a href='" + flickrUrl.replace("_m.jpg","_b.jpg") + "' target='_blank'><img src='" + flickrUrl + "' width='120'/></a>" );
			var addPhoto = "<a href='http://www.flickr.com/photos/" + photos[p].owner + "/" + photos[p].id + "' target='_blank'><img src='" + flickrUrl + "' width='120'/></a>";
			if(allPhotos[printedMonth]){
				allPhotos[printedMonth].push( addPhoto );
			}
			else{
				allPhotos[printedMonth] = [ addPhoto ];
			}
			map.graphics.add(new esri.Graphic(esri.geometry.geographicToWebMercator(photoPoint), incidentPointSymbol));
		}
	}
	if(photos.length){
		postAllPhotos();
	}
}

function pushInstagram(bounds){
	var s = document.createElement('script');
	var lat = bounds.getCenter().y;
	var lng = bounds.getCenter().x;
	s.src = "https://api.instagram.com/v1/media/search?lat=" + lat + "&lng=" + lng + "&client_id=4a0e2ae23b0149249e3c2b2d7f5fd037&callback=loadInstagram&distance=500";
	s.type = "text/javascript";
	document.body.appendChild(s);
}
function loadInstagram(response){
	var photos = response.data;
	photos.sort(function(a,b){
		return (new Date(b.created_time * 1000)) - (new Date(a.created_time * 1000));
	});
	var printedMonth = "1 January 2000";
	var bannames = ["markymark327","francishirsh","waycoolerest","kyleohhh","traysongz","jbeatselarkitekto"];
	for(var p=0; p<photos.length; p++){
		if(bannames.indexOf(photos[p].user.username) > -1){
			continue;
		}
		var flickrUrl = photos[p].images.thumbnail.url;
		photoPoint = new esri.geometry.Point( photos[p].location.longitude, photos[p].location.latitude );
		var hasPhoto = false;
		var instantDate = new Date(photos[p].created_time * 1000);
		for(var g=0;g<polygonbounds.length;g++){
			if(polygonbounds[g].getExtent().contains(photoPoint)){
				hasPhoto = true;
				break;
			}
		}
		if(hasPhoto){
			var monthMatch = ["January","February","March","April","May","June","July","August","September","October","November","December"];
			if(printedMonth.indexOf(instantDate.getFullYear()) < -1){
				printedMonth = monthMatch[ instantDate.getMonth() ] + " " + instantDate.getFullYear();
			}
			else if(printedMonth.indexOf(monthMatch[instantDate.getMonth()])){
				printedMonth = monthMatch[ instantDate.getMonth() ] + " " + instantDate.getFullYear();
			}
			var addPhoto = "<a href='" + photos[p].link + "' target='_blank'><img src='" + flickrUrl + "' width='120'/></a>";
			if(allPhotos[printedMonth]){
				allPhotos[printedMonth].push( addPhoto );
			}
			else{
				allPhotos[printedMonth] = [ addPhoto ];
			}
			map.graphics.add(new esri.Graphic(esri.geometry.geographicToWebMercator(photoPoint), incidentPointSymbol));
		}
	}
	if(photos.length){
		postAllPhotos();
	}
}

function postAllPhotos(){
	var monthMatch = ["January","February","March","April","May","June","July","August","September","October","November","December"];
	var myMonths = [ ];
	for(month in allPhotos){
		myMonths.push(month);
	}
	myMonths.sort(function(a,b){
		var y_a = a.split(" ")[1] * 1;
		var y_b = b.split(" ")[1] * 1;
		if(y_a > y_b){
			return -1;
		}
		else if(y_a < y_b){
			return 1;
		}
		else{
			var m_a = monthMatch.indexOf(a.split(" ")[0]);
			var m_b = monthMatch.indexOf(b.split(" ")[0]);
			if(m_a > m_b){
				return -1;
			}
			else{
				return 1;
			}
		}
	});
	$j("#place-detail-content").html("");
	for(var m=0;m<myMonths.length;m++){
		var timeHeading = "<h4>" + myMonths[m] + "</h4>";
		var photoStack = allPhotos[myMonths[m]].join(" ");
		$j("#place-detail-content").html( $j("#place-detail-content").html() + timeHeading + photoStack );
	}
}
	 	{% endautoescape %}
		</script>
		{% include "richmaps/richmap.html" %}
	</div><!--/ #mapwrapper -->
	{% endblock map %}
	<!-- end block map -->
	<div class="business-chart-dropdown" style="width:100%;text-align:center;">
		<h3>Local Business Trends</h3>
		<select id="biztype" onchange="chartSwitch()" style="font-size:20pt;margin-left:auto;margin-right:auto;">
			<option selected="selected" value="all">All Business Types</option>
			<option value="54">Professional, Scientific, and Technical Services</option>
			<option value="71">Arts, Entertainment, and Recreation</option>
			<option value="72">Accomodation and Food Services</option>
			<option value="62">Healthcare and Social Assistance</option>
			<option value="52">Finance and Insurance</option>
			<option value="44">Retail Trade</option>
		</select>
		<br/>
		Blue represents establishments, and is measured on the left scale
		<br/>
		Red represents total employed, and is measured on the right scale
	</div>
	<div class="business-chart">
	</div>

    <!-- block subscribe_links -->
    {% block subscribe_links %}
	<div class="subscribe-links">
		<p>Stay up to date:
		  <a href="{{ place.url }}feeds/">Custom RSS feeds</a>
		  {% if alerts_installed %}<a href="{{ place.alert_url }}">E-mail alerts</a>{% endif %}
		</p>
	</div>
    {% endblock subscribe_links %}
    <!-- end block subscribe_links -->

    <!-- block nearby_locations -->
    {% block nearby_locations %}
	{% if nearby_locations %}
	<div id="nearby">
	<h2>Nearby locations</h2>
		<ul>
			{% for location in nearby_locations %}
			<li><a id="location-{{ location.id }}" href="{{ location.url }}">{{ location.name }}</a></li>
			{% endfor %}
		</ul>
	</div><!-- end #nearby -->
	{% endif %}
    {% endblock nearby_locations %}
    <!-- endblock nearby_locations -->

</div><!--/ #nav-location -->
<!-- begin block place_content -->
{% block place_content %}{% endblock %}
<!-- end block place_content -->
{% endblock content %}