{% comment %}<!-- -*- mode: django-html; tab-width: 4 -*- -->{% endcomment %}
{% load eb %}{% load django_static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<title>{% block fulltitle %}{% block title %}{% endblock %} | {% block city_title %}OpenBlock{% endblock %}{% endblock fulltitle %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="noarchive">
<link rel="home" title="Home" href="{% url ebpub-homepage %}">

{% slimall %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/style-reset.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}scripts/chosen.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/openblock.css" />
<!--
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/calendrical.css" />
-->
{% endslimall %}

<script src="{{ JQUERY_URL }}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}styles/smoothness/jquery-ui-1.8.17.custom.css" />

<script type="text/javascript">
// Not using jquery.noConflict() because ironically it causes a conflict
// with OpenLayers and we end up with the $ function from OpenLayers. 
// But a lot of existing everyblock code expects $j instead of $
var $j = $;
var LastMapWidth = "";
</script>
{% slimall %}
<script src="{{ STATIC_URL }}scripts/ob-jquery-csrf.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}scripts/chosen.jquery.js" type="text/javascript" charset="utf-8"></script>
<!--
<script src="{{ STATIC_URL}}scripts/jquery.calendrical.js"></script>
-->
<script src="{{ STATIC_URL}}scripts/json2.js"></script>
{% endslimall %}

<!-- ArcGIS -->
<script type="text/javascript">var djConfig = {parseOnLoad: true};</script>
<script type="text/javascript" src="http://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.8compact"></script>
<link href="http://serverapi.arcgisonline.com/jsapi/arcgis/2.8/js/esri/dijit/css/Popup.css" rel="stylesheet"/>
<style type="text/css">
#mapNotes_7975_3_layer{
	cursor: pointer;
}
#bid_link{
	width: 96.5%;
	background-color: lightblue;
	margin-bottom: -15px !important;
	padding: 10px;
	padding-bottom: 25px;
	border-radius: 10px;
}
#bid_link a{
	color: blue;
	text-decoration: none;
}
#bid_link a:hover{
	color: darkblue;
	text-decoration: underline;
}
#detailmap_infowindow div .window{
	display: none;
}
#content{
	width: 380px;
}
#nav-location{
	width: 500px;
}
#nav-breadcrumb li:last-child{
	background: none;
}
.nav-view{
	display: none;
}
.select-filter{
	display: none;
}
</style>
<link href="http://serverapi.arcgisonline.com/jsapi/arcgis/2.8/js/dojo/dijit/themes/claro/claro.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
dojo.require("dijit.layout.ContentPane");
dojo.require("esri.map");
dojo.require("esri.layers.agstiled");
dojo.require("esri.layers.graphics");
dojo.require("esri.layers.FeatureLayer");
dojo.require("esri.arcgis.utils");
//dojo.require("esri.layers.KMLLayer");

var map, incidentsGraphicsLayer, initExtent;

function mapinit() {
	initExtent = new esri.geometry.Extent({
		"xmin":-122.288132,
		"ymin":37.781434,
		"xmax":-122.219639,
		"ymax":37.850662,
		"spatialReference":{"wkid":4326}
	});
	//initExtent = initExtent.expand(1.5);
	var urlObject = esri.urlToObject(document.location.href);
	if(urlObject.query && urlObject.query.webmap){
		$j("#detailmap").css({ height: "650px" });
		var b=esri.arcgis.utils.createMap(
			urlObject.query.webmap,
			"detailmap",
			{
				mapOptions: {
					slider:true,
					nav:false,
					wrapAround180:true
				}
			});
		b.addCallback(function(e){
			map=e.map;
			if(map.loaded){
				onMapLoaded();
			}
			else{
				dojo.connect(map,"onLoad",onMapLoaded);
			}
		});
		b.addErrback(function(e){
			console.log("CreateMap failed: ",dojo.toJson(e));
			//alert(dojo.toJson(e));
		});
	}
	else if($("#nav-breadcrumb").children().length <= 1){
		// homepage
		$j("#detailmap").css({ height: "650px" });
		var b=esri.arcgis.utils.createMap(
			"133106ab6ea54c22841df57342231d05",
			"detailmap",
			{
				mapOptions: {
					slider:true,
					nav:false,
					wrapAround180:true
				}
			});
		b.addCallback(function(e){
			map=e.map;
			if(map.loaded){
				onMapLoaded();
			}
			else{
				dojo.connect(map,"onLoad",onMapLoaded);
			}
		});
		b.addErrback(function(e){
			console.log("CreateMap failed: ",dojo.toJson(e));
			//alert(dojo.toJson(e));
		});		
	}
	else{
		map = new esri.Map("detailmap",{
			extent: esri.geometry.geographicToWebMercator(initExtent),
			minZoom: 10
		});
		onMapLoaded();
	}
}
function onMapLoaded(){
	map.setExtent( esri.geometry.geographicToWebMercator(initExtent), true );

	//Add the topographic layer to the map. View the ArcGIS Online site for services http://arcgisonline/home/search.html?t=content&f=typekeywords:service 
	var urlObject = esri.urlToObject(document.location.href);
	if(!urlObject.query || !urlObject.query.webmap){
		if(urlObject.query && urlObject.query.watercolor){
			// custom watercolor look
			var osmLayer = new esri.layers.OpenStreetMapLayer({ tileServers: [ "http://c.tile.stamen.com/watercolor" ] });
			map.addLayer(osmLayer);
		}
		else{
			// Use MapQuest Open layer
			if($("#nav-breadcrumb").children().length > 1){
				var osmLayer = new esri.layers.OpenStreetMapLayer({ tileServers: [ "http://otile1.mqcdn.com/tiles/1.0.0/osm" ] });
				map.addLayer(osmLayer);
			}

			// Use Esri Terrain Basemap
			//var basemap = new esri.layers.ArcGISTiledMapServiceLayer("http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer");
			//map.addLayer(basemap);

			//Add Bibb County features
			if($("#nav-breadcrumb").children().length > 1){
				/* Bibb GIS disabled
				//Add Bibb County GIS
				var bibb = new esri.layers.ArcGISTiledMapServiceLayer("http://gis.co.bibb.ga.us/ArcGISBibb/rest/services/AG4LG/ParcelPublicAccess/MapServer");
				map.addLayer(bibb); */
			}
		}
	}
	setInterval(function(){
		if(map.loaded && map.container.offsetWidth != LastMapWidth){
			map.resize();
			LastMapWidth = map.width;
		}
	}, 500);

/*var neighborhoods = [];

	if($("#nav-breadcrumb").children().length <= 1){
		// homepage map buttons
		neighborhoods = [

{ name: "Downtown", latlng: [ 37.804231, -122.271646 ], photo: "http://distilleryimage6.s3.amazonaws.com/11482b32d90511e1b99d22000a1e8ca3_7.jpg" },
{ name: "Fruitvale", latlng: [ 37.778134, -122.224997 ], photo: "http://distilleryimage6.s3.amazonaws.com/0d3df91edb9d11e19f001231380fbca8_5.jpg" },
{ name: "Koreatown / Northgate", latlng: [ 37.821895, -122.266346 ], photo: "http://farm8.static.flickr.com/7261/7547239654_1a9121c168_m.jpg" },
{ name: "Lake Merritt", latlng: [ 37.8093, -122.263084 ], photo: "http://distilleryimage3.s3.amazonaws.com/4092d6d6d8fa11e1ba4022000a1e8932_5.jpg" },
{ name: "Lakeshore", latlng: [ 37.810503, -122.244609 ], photo: "http://farm9.static.flickr.com/8430/7587357170_d16763c53d_m.jpg" },
{ name: "Laurel", latlng: [ 37.791481, -122.198282 ], photo: "http://i.imgur.com/kdyWB.jpg" },
{ name: "Montclair", latlng: [ 37.826844, -122.210084 ], photo: "http://farm7.static.flickr.com/6209/6071273405_7999c9f393_m.jpg" },
{ name: "Rockridge", latlng: [ 37.842656, -122.249587 ], photo: "http://distilleryimage0.s3.amazonaws.com/efce3d90d8fd11e1830722000a1e95c5_5.jpg" },
{ name: "Temescal / Telegraph", latlng: [ 37.840097, -122.267633 ], photo: "http://farm9.static.flickr.com/8284/7575919418_e6bba68326_m.jpg" }

		];
var blockSymbol = new esri.symbol.SimpleMarkerSymbol(esri.symbol.SimpleMarkerSymbol.STYLE_CIRCLE, 15,
   new esri.symbol.SimpleLineSymbol(esri.symbol.SimpleLineSymbol.STYLE_SOLID,
   new dojo.Color([0,0,255,0.5]), 1),
   new dojo.Color([100,100,255,0.5]));
		for(var x=0;x<neighborhoods.length;x++){
			var pt = new esri.geometry.Point( neighborhoods[x].latlng[1], neighborhoods[x].latlng[0] );
			var graphic = new esri.Graphic(esri.geometry.geographicToWebMercator(pt), blockSymbol);
			graphic.attributes = neighborhoods[x];
			graphic.attributes.pt = pt;
			map.graphics.add(graphic);
			dojo.connect(graphic, "onClick", function(){
				console.log("clicked it!");
				map.infoWindow.setTitle(e.attributes.name);
				map.infoWindow.setContent("<img src='" + e.attributes.photo + "' width='250' height='250'/>");
				map.infoWindow.show(e.pt);
			});
		}
	}
*/

	loadMap();
}
dojo.addOnLoad(mapinit);
</script>

<script src="{{ STATIC_URL }}scripts/jquery-ui-1.8.17.custom.min.js" type="text/javascript" charset="utf-8"></script>
<!-- begin block extrahead -->
{% block extrahead %}{% endblock %}
<!-- end block extrahead -->

<style type="text/css">
.mediaSection{
	margin-top: -35px;
}
#detailmap{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
body{
	background: transparent url(http://i.imgur.com/fxBx3.png) top left;
}
#header{
	background-color:#fff;
}
#nav-location{
	background-color:#fff;
	padding:10px;
	margin:-10px;
	border-radius:6px;
	border: 4px solid #fff;
	border-left:none;
}
#content{
	background-color:#fff;
	padding:10px;
	margin:-10px;
	border-radius:6px;
	border: 4px solid #fff;
	border-right:none;
}
#container{
	background:#fff;
	background-color:#fff;
}
ul#nav-breadcrumb, #nav-breadcrumb li{
	color:#fff;
	background-color:#000;
}
#mapwrapper{
	width: 100%;
}
#detailmap{
	width: 100%;
}
</style>

</head>
<body {% if bodyid %}id="{{bodyid}}"{% endif %} {% if bodyclass %}class="{{bodyclass}}"{% endif %}>
  <div id="container">
	<div id="header" style="padding:15px;">
		<h1 style="width:none;"><a href="{% url ebpub-homepage %}">OpenBlock: {% METRO_NAME %}</a></h1>
		<div id="globalnav">
			{% block userlinks %}
			{% include "db/snippets/userlinks.html" %}
			{% endblock userlinks %}
			{% set_search_placeholder "Search for" as placeholder %}
			<form action="{% url ebpub-search %}" id="globalsearch" onsubmit="if ($j('#searchinput').val() == '{{ placeholder }}') return false; return true;">
				<p>
					<label for="searchinput">{{ placeholder}}</label>
					<input type="text" id="searchinput" name="q" value="{{ placeholder }}" onfocus="if (this.value == '{{ placeholder }}') { this.value = ''; }" onblur="if (this.value == '') { this.value = '{{ placeholder }}'; }">
					<button type="submit">Go</button>
				</p>
			</form>
		</div><!--/ #globalnav -->
		<!-- begin block breadcrumbs -->
		{% block breadcrumbs %}
		{% include "db/snippets/breadcrumbs.html" %}
		{% endblock breadcrumbs %}
		<!-- end block breadcrumbs -->
	</div><!-- / #header -->
	<div id="main">
	  <!-- begin block messages -->
		{% block messages %}
	    {% if messages %}
	    <ul class="messages">
		  {% for message in messages %}
		  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		  {% endfor %}
		</ul>
		{% endif %}
		{% endblock messages %}
        <!-- end block messages -->
		<!-- begin block content -->
		{% block content %}{% endblock content %}
		<!-- end block content -->
	</div><!-- / #main -->
  </div><!-- / #container -->
</body>
</html>