{% extends "base.html" %}{% comment %} -*- mode: django-html; tab-width: 4 -*- {% endcomment %}
{% load eb humanize mapping %}

{% block fulltitle %}OpenBlock{% endblock %}

{% block content %}
		<div id="homepage-search" style="padding:5px;overflow-x:scroll;">
  		 <h2>Open for Business:</h2>
<a href="#" id="scrollArrow" style="text-decoration:none;float:right;margin-top:-35px;background-color:#fff;padding:4px;" onclick="scrollHomeRight()">&rarr;</a>
		 <div>
<table id="topboard" style="border:none;"><tr style="border:none;">
<td>
<a href="/locations/bid/downtown/">
<img src="http://distilleryimage6.s3.amazonaws.com/11482b32d90511e1b99d22000a1e8ca3_7.jpg" width="170" height="170"/>
<br/>
Downtown
</a>
</td>
<td>
<a href="/locations/bid/fruitvale/">
<img src="http://distilleryimage6.s3.amazonaws.com/0d3df91edb9d11e19f001231380fbca8_5.jpg" width="170" height="170"/>
<br/>
Fruitvale
</a>
</td>
<td>
<a href="/locations/bid/koreatownnorthgate/">
<img height="170" width="170" src="http://farm8.static.flickr.com/7261/7547239654_1a9121c168_m.jpg"/>
<br/>
Koreatown / Northgate
</a>
</td>
<td>
<a href="/locations/bid/lake-merritt/">
<img src="http://distilleryimage3.s3.amazonaws.com/4092d6d6d8fa11e1ba4022000a1e8932_5.jpg" width="170" height="170"/>
<br/>
Lake Merritt
</a>
</td>
<td>
<a href="/locations/bid/lakeshore/">
<img src="http://farm9.static.flickr.com/8430/7587357170_d16763c53d_m.jpg" width="170"/>
<br/>
Lakeshore
</a>
</td>
<td>
<a href="">
<img src="http://i.imgur.com/kdyWB.jpg" width="170" height="170"/>
<br/>
Laurel
</a>
</td>
<td>
<a href="/locations/bid/montclair/">
<img src="http://farm7.static.flickr.com/6209/6071273405_7999c9f393_m.jpg" width="170"/>
<br/>
Montclair
</a>
</td>
<td>
<a href="/locations/bid/rockridge/">
<img src="http://distilleryimage0.s3.amazonaws.com/efce3d90d8fd11e1830722000a1e95c5_5.jpg" width="170" height="170"/>
<br/>
Rockridge
</a>
</td>
<td>
<a href="/locations/bid/temescaltelegraph/">
<img src="http://farm9.static.flickr.com/8284/7575919418_e6bba68326_m.jpg" width="170" height="170"/>
<br/>
Temescal / Telegraph
</a>
</td>
</tr>
		    </table>
		  </div>
		</div><!--/ #homepage-search -->

		<div id="nav-location">

		<div id="mapwrapper">
		  <script type="text/javascript">
		  {% autoescape off %}
var scrollDir = "right";
function scrollHomeRight(){
	if(scrollDir == "right"){
		$("#topboard").animate({ "marginLeft": "-800px" }, 700, function(){
			$("#scrollArrow").html("&larr;");
			scrollDir = "left";
		});
	}
	else{
		$("#topboard").animate({ "marginLeft": "0px" }, 700, function(){
			$("#scrollArrow").html("&rarr;");
			scrollDir = "right";
		});
	}
}
		  /*
		  function loadMap() {
  		  var config = {{map_configuration}};
        config.center = [{{default_lon}}, {{default_lat}}];
        config.zoom = {{default_zoom}};
        return new OBMap(config);        
  		}
  		*/
  		{% endautoescape %}
		  </script>
		{% include "richmaps/richmap.html" %}
		</div><!-- end mapwrapper -->

		<div id="intro-explore">
			<h2>Locations</h2>
			<ul class="location-type-list">
				{% for location_type in location_type_list %}
					<li><a href="{{ location_type.url }}"><strong class="number">{{ location_type.count|intcomma }}</strong> {{ location_type.plural_name|capfirst }}</a></li>
				{% endfor %}
				<li><a href="{% url ebpub-street-list %}"><strong class="number">{{ street_count|intcomma }}</strong> Streets</a></li>
			</ul>
		</div><!--/ #intro-explore-->
	</div><!-- end nav-location -->

	<div id="content">
	<div id="frontpage-text">

	<div id="public-records">
		{% if non_empty_date_charts %}
		<h2>What's Happening</h2>
		<p>New in the last {{ num_days }} days</p>
		<ul>
			{% for chart in non_empty_date_charts %}
			<li {% if chart.schema.id not in allowed_schema_ids %}class="restricted-schema"{% endif %}>
				{% map_icon_img chart.schema %}
				<strong>{{ chart.total_count|intcomma }}</strong> <a href="{{ chart.schema.url }}">{% filter capfirst %}{% schema_plural_name chart.schema chart.total_count %}{% endfilter %}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if empty_date_charts %}
		<ul>Older: {% for chart in empty_date_charts %}
            <li {% if chart.schema.id not in allowed_schema_ids %}class="restricted-schema"{% endif %}><a href="{{ chart.schema.url }}">{% map_icon_img chart.schema %}{{ chart.schema.plural_name|capfirst }}</a>
            </li>{% endfor %}
        </ul>
		{% endif %}
	</div><!--/ #public-records -->
	<div id="more">
	{% if more_schemas %}
		<h2>More news</h2>
		<ul>
		{% for schema in more_schemas %}
			<li><a href="{{ schema.url }}">{% map_icon_img schema %}{{ schema.plural_name|capfirst }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

	<!-- begin block restrictedschemas -->
	{% block restrictedschemas %}
	<!-- override this block to do something with restricted_schemas -->
	{% endblock restrictedschemas %}
	<!-- end block restrictedschemas -->

	</div><!--/ #more -->

	<!--  begin block featuredlookups -->
	{% block featuredlookups %}
	{% get_featured_lookups_by_schema %}
	{% if featured_lookups %}
	<!-- This only shows up if you have some Lookups with featured=True -->
	<div id="featured-tags">
		<h2>Featured Tags</h2>
		<ul>
		{% for schema, tags in featured_lookups.items %}
		  {% for tag in tags %}
			<li><a href="{{ tag.url }}">{{ tag.lookup }}</a></li>
		  {% endfor %}
		{% endfor %}
		</ul>
	</div><!--/ #tag_info -->
	{% endif %}
	{% endblock featuredlookups %}<!--  end block featuredlookups -->

    </div><!-- / #frontpage-text -->

</div><!--/ #content -->

<div id="sidebar">
  <!-- begin block extracontent -->
  {% block extracontent %}
  {% endblock extracontent %}
  <!-- end block extracontent -->
</div><!--/ #sidebar -->

{% endblock content %}